Repository getstackhead/stackhead, changes with the labels that .github/labeler.yml gives for each.
All labels: deployment, system, cli, setup, documentation, m/container/docker, m/dns/cloudflare, m/proxy/caddy, m/proxy/nginx

.github/labeler.yml:

---
deployment:
  - commands/project/deploy.go
  - commands/project/destroy.go
system:
  - system/**/*
cli:
  - routines/**/*
  - config/**/*
  - main.go
setup:
  - commands/setup.go
documentation:
  - Documentation/**/*.md
m/container/docker:
  - modules/container/docker/**/*
m/dns/cloudflare:
  - modules/dns/cloudflare/**/*
m/proxy/caddy:
  - modules/proxy/caddy/**/*
m/proxy/nginx:
  - modules/proxy/nginx/**/*

feat: collect resources and require confirmation
  commands/project/deploy.go
  go.mod
  go.sum
  modules/container/docker/deploy.go
  modules/proxy/caddy/deploy.go
  routines/implementations.go
  system/resource.go
  system/resource_manager.go
  system/version.go
Labels: deployment, system, cli, m/container/docker, m/proxy/caddy

feat: improve CLI output, initial rollback implementation
  Documentation/introduction/commands.md
  Documentation/introduction/getting-started.md
  commands/project/deploy.go
  commands/project/destroy.go
  commands/project/project.go
  commands/setup.go
  go.mod
  go.sum
  modules/container/docker/deploy.go
  modules/container/docker/destroy.go
  modules/proxy/caddy/deploy.go
  modules/proxy/rendering.go
  routines/implementations.go
  routines/tasks.go
  system/context.go
  system/resource.go
  system/resource_manager.go
Labels: deployment, system, cli, setup, documentation, m/container/docker, m/proxy/caddy

ci(actions): update vsoch/pull-request-action
  .github/workflows/create-pr.yml
Labels: none

docs: Remove Ansible and Terraform from documentation
  Documentation/README.md
  Documentation/introduction/project-definition.md
  Documentation/technical-documentation/ssl-certificates.md
Labels: documentation

docs: fix linter issue
  Documentation/introduction/project-definition.md
Labels: documentation

feat: improve CLI output, initial rollback implementation
  Documentation/introduction/commands.md
  Documentation/introduction/getting-started.md
  commands/project/deploy.go
  commands/project/destroy.go
  commands/project/project.go
  commands/setup.go
  go.mod
  go.sum
  modules/container/docker/deploy.go
  modules/container/docker/destroy.go
  modules/proxy/caddy/deploy.go
  modules/proxy/rendering.go
  routines/implementations.go
  routines/tasks.go
  system/context.go
  system/resource.go
  system/resource_manager.go
Labels: deployment, system, cli, setup, documentation, m/container/docker, m/proxy/caddy

docs: fix linter issue
  Documentation/introduction/project-definition.md
Labels: documentation

docs: Remove Ansible and Terraform from documentation
  Documentation/README.md
  Documentation/introduction/project-definition.md
  Documentation/technical-documentation/ssl-certificates.md
Labels: documentation

ci(actions): update vsoch/pull-request-action
  .github/workflows/create-pr.yml
Labels: none

feat: collect resources and require confirmation
  commands/project/deploy.go
  go.mod
  go.sum
  modules/container/docker/deploy.go
  modules/proxy/caddy/deploy.go
  routines/implementations.go
  system/resource.go
  system/resource_manager.go
  system/version.go
Labels: deployment, system, cli, m/container/docker, m/proxy/caddy

chore: spinner for each setup step
  commands/setup.go
  modules/container/docker/install.go
  routines/tasks.go
Labels: cli, setup, m/container/docker

ci(lint): allow duplicate headers in Markdown
  .github/linters/.markdownlint.json
Labels: none

chore: change root directory
  Documentation/introduction/cli-configuration.md
  Documentation/introduction/commands.md
  Documentation/introduction/getting-started.md
  Documentation/introduction/project-definition.md
  Documentation/technical-documentation/ssl-certificates.md
  Documentation/technical-documentation/upgrading.md
  commands/setup.go
  config/paths.go
Labels: cli, setup, documentation

ci(lint): allow duplicate headers in Markdown
  .github/linters/.markdownlint.json
Labels: none

chore: spinner for each setup step
  commands/setup.go
  modules/container/docker/install.go
  routines/tasks.go
Labels: cli, setup, m/container/docker

chore: change root directory
  Documentation/introduction/cli-configuration.md
  Documentation/introduction/commands.md
  Documentation/introduction/getting-started.md
  Documentation/introduction/project-definition.md
  Documentation/technical-documentation/ssl-certificates.md
  Documentation/technical-documentation/upgrading.md
  commands/setup.go
  config/paths.go
Labels: cli, setup, documentation

feat: project deployment versions
  commands/project/deploy.go
  modules/container/docker/definitions/volume.go
  modules/container/docker/deploy.go
  modules/container/docker/destroy.go
  modules/container/docker/docker-compose/yaml.go
  modules/container/docker/system/hooks.go
  modules/container/docker/system/naming.go
  modules/container/docker/system/ports.go
  modules/container/docker/templates/project.tf.tmpl
  modules/proxy/caddy/deploy.go
  modules/proxy/nginx/certificates.go
  modules/proxy/nginx/deploy.go
  modules/proxy/rendering.go
  project/funcs.go
  routines/implementations.go
  system/context.go
  system/deployments.go
  system/resource.go
  system/resource_manager.go
Labels: deployment, system, cli, m/container/docker, m/proxy/caddy, m/proxy/nginx

feat: folder and Link resource handling
  commands/project/deploy.go
  commands/project/destroy.go
  modules/proxy/nginx/deploy.go
  modules/proxy/nginx/destroy.go
  routines/implementations.go
  system/deployments.go
  system/resource.go
  system/resource_manager.go
Labels: deployment, system, cli, m/proxy/nginx

feat: implement backups for external files during deployment
  go.mod
  go.sum
  modules/container/docker/deploy.go
  modules/proxy/caddy/deploy.go
  modules/proxy/nginx/deploy.go
  routines/implementations.go
  system/context.go
  system/resource.go
  system/resource_manager.go
Labels: system, cli, m/container/docker, m/proxy/caddy, m/proxy/nginx

Implement backups for external files during deployment
  system/resource_manager.go
Labels: system

fix(docker): logout to avoid authentication issues for multiple credentials per registry
  modules/container/docker/README.md
  modules/container/docker/deploy.go
  modules/container/docker/system/hooks.go
Labels: m/container/docker

docs: stackhead user debugging
  Documentation/SUMMARY.md
  Documentation/development/basics.md
  Documentation/introduction/getting-started.md
  Documentation/introduction/project-definition.md
  Documentation/stackhead-modules/development/README.md
Labels: documentation
